.websitelogo {
   max-width: 350px;
   width: 100%;
   height: 100%;
   margin-left: 20px;
   object-fit: cover;
}
.funpicture {
 max-width: 500px;
   width: 100%;
   height: 100%;
   margin-left: 20px;
   object-fit: cover;
    
}
* { margin: 0;
    padding: 10px;
    box-sizing: border-box;

}

body {
    font-family: Arial, sans-serif;
    background-color: #111;
    color: #f0f0f0;
    line-height: 1.6;
    padding: 10px;
}
nav{
    background-color: #222;
    padding: 15px;
    text-align: left;
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
    padding: 5px;
}
nav li {
    margin: 0 15px;
}
nav a {
    color: #f0f0f0;
    text-decoration: none;
    font-weight: bold;
}
header {
    text-align: center;
    padding: 30px;
    
}
section {
    margin: 40px;
    padding: 20px;
    background-color: #1c1c1c;
    border-radius: 10px;
}
.game-card,
.testimonial {
    background-color: #2a2a2a;
    padding: 20px;
    margin: 20px auto;
    border-radius: 8px;
    max-width: 600px;
    box-shadow: 0 0 8px rgba(0, 255,204, 0.1);
}
.game-card img,
.testimonial img {
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 5px;
    background: #f0f0f0;
    border: 1px solid #ccc;
    text-align: center;
    padding: 15px;
}
.game-card h3
.testimonial  {
    margin: 10px 0 5px;
    color: #00ffcc;
}
.aboutsection{
    max-width: 800px;
    margin: 0 auto;
    padding: 30px;
    line-height: 1.8;
}
.contactsection{
    max-width: 700px;
    margin: 0 auto;
    padding: 30px;

}
.contactform{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.contactform input,
.contactform textarea{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
}
.contactform button{
    background-color: #2b6c20;
    color: #f0f0f0;
    border:none;
    padding: 12px;
    cursor: pointer;
    border-radius: 6px;
    transition: background 0.3s;
}
.contactform button:hover{
    background-color: #1a4d80;
}
.active{

    color: #fff;
  background-color: #007bff; /* blue background */
  border-radius: 5px;
  padding: 5px 10px;
}

